<div class="footer_box_sections">
<h4>about</h4>
<ul>
	<li><a href="#">blog</a></li>
	<li><a href="#">about</a></li>
	<li><a href="#">advertise</a></li>
	<li><a href="#">careers</a></li>
</ul>
</div>

			
<div class="footer_box_sections">
<h4>help</h4>
	<ul>
		<li><a href="#">site rules</a></li>
		<li><a href="#">help center</a></li>
		<li><a href="#">wiki</a></li>
		<li><a href="#">reddiquette</a></li>
		<li><a href="#">mod guidelines</a></li>
		<li><a href="#">contact us</a></li>
	</ul>
</div>	


<div class="footer_box_sections">
<h4>apss & tolls</h4>
<ul>
	<li><a href="#">Reddit for iPhone</a></li>
	<li><a href="#">Reddit for Android</a></li>
	<li><a href="#">mobile website</a></li>
	<li><a href="#">buttons</a></li>
</ul>
</div>	
<div class="footer_box_sections">
<h4><3</h4>
<ul>
	<li><a href="#">reddit gold</a></li>
	<li><a href="#">redditgifts</a></li>
</ul>
</div>




























































