<div class="thread_item">
	<div class="item_number">1</div>
	
	<div class="item_score">
		<div class="upvote"><a href="#">&#9651;</a></div>
		<div class="score">2245</div>
		<div class="downvote"><a href="#">&#9661;</a></div>
	</div> 
	
	<div class="item_pic">
		<img src="images/sample2.jpg" alt="image"/>
	</div>
	
	<div class="item_heading">
		<div class="head">
			<a href="#">The descent and landing of the falcon 9 booster after yesterday's launch</a>
		</div>
		<div class="other_junk">
			<div class="previewer">
				<img src="images/previewer_play.png"/>
			</div>
			<div class="item_details">
				<div class="detail_top">
					submitted 2 hours ago by <a href="#">mrDon23</a> to <a href="#">r/worldnews</a>
				</div>
				<div class="detail_bottom">
					44 comments  share  save  hide  report
				</div>
			</div>
		</div>
	</div>
</div>




<div class="thread_item">
	<div class="item_number">2</div>
	
	<div class="item_score">
		<div class="upvote"><a href="#">&#9651;</a></div>
		<div class="score">183</div>
		<div class="downvote"><a href="#">&#9661;</a></div>
	</div> 
	
	<div class="item_pic">
		<img src="images/sample.jpg" alt="image"/>
	</div>
	
	<div class="item_heading">
		<div class="head">
			<a href="#">TIL in the 1880s, many farmers communicated by connecting their phones to barbed wire fences. 
			This process often allowed for up to 20 people to be connected at once, everyone’s phone would ring regardless
			of who called, and the invention helped many farmers overcome depression and loneliness.</a>
		</div>
		<div class="other_junk">
			<div class="previewer">
				
			</div>
			<div class="item_details">
				<div class="detail_top">
					submitted 13 hours ago by <a href="#">BigBoyPrime3</a> to <a href="#">r/Mynews</a>
				</div>
				<div class="detail_bottom">
					199 comments  share  save  hide  report
				</div>
			</div>
		</div>
	</div>
</div>




<div class="thread_item">
	<div class="item_number">2</div>
	
	<div class="item_score">
		<div class="upvote"><a href="#">&#9651;</a></div>
		<div class="score">183</div>
		<div class="downvote"><a href="#">&#9661;</a></div>
	</div> 
	
	<div class="item_pic">
		<img src="images/sample3.png" alt="image"/>
	</div>
	
	<div class="item_heading">
		<div class="head">
			<a href="#">On the eve of the new tax plan vote, I feel we should be reminded of FDR's wisdom.</a>
		</div>
		<div class="other_junk">
			<div class="previewer">
				
			</div>
			<div class="item_details">
				<div class="detail_top">
					submitted 3 hours ago by <a href="#">ninja441</a> to <a href="#">r/aww</a>
				</div>
				<div class="detail_bottom">
					bottom details
				</div>
			</div>
		</div>
	</div>
</div>