<div class="sidebar_item">
	<div class="search-container">
		<form action="#"> <!-- put action as process_page.php -->
			<input type="text" placeholder="Search" name="search">
			<button type="submit"><i class="fa fa-search"></i></button>
		</form>
	</div>
</div>

<div class="sidebar_item">
	<div class="login-container">
		<form action="#"> <!-- put action as process_page.php -->
			<input class="type_input" type="text" placeholder="username" name="username">
			<input class="type_input" type="password" placeholder="password" name="password">
			<div id="login_button_area">
				<input type="checkbox" name="remember_me" value="remember"> remember me &nbsp;&nbsp;
				<a href="#">reset password&nbsp;&nbsp;&nbsp;&nbsp;</a>
				<button type="submit">login</button>
			</div>
		</form>
	</div>
</div>

<div class="sidebar_item">
	<div class="ad">
		<div id="close">&#9747;</div>
		<img src="images/mcdonalds_ad.jpg" alt="McDonald's"/>
	</div>
</div>

<div class="sidebar_item">
	<div class="submit_button">
		Submit a new link
	</div>
</div>

<div class="sidebar_item">
	<div class="submit_button">
		Submit a new text post
	</div>
</div>

<div class="sidebar_item">
	<div id="progessbar_div">
		daily reddit gold goal
		<progress value="40" max="100"></progress>&nbsp;&nbsp;40%&nbsp;<br>
		<a href="#"> help support reddit </a>
	</div>
</div>

<div class="sidebar_item">
	<div class="ad">
		<div id="close">&#9747;</div>
		<img src="images/bigW.png" alt="big W"/>
	</div>
</div>












