	<ul>
		<li><a href="#">MY SUBSCRIPTION &nabla; </a></li>
		<li><span class="seperator">-</span><a href="#" class="choice">POPULAR</a></li>
		<li><span class="seperator">-</span><a href="#">ALL</a></li>
		<li><span class="seperator">-</span><a href="#">RANDOM</a></li>
		<li><span class="seperator">-</span><a href="#">USERS</a></li>
		<li>|</li>
		<li><a href="#">ASKREDDIT</a></li>
		<li><span class="seperator">-</span><a href="#">WORLDNEWS</a></li>
		<li><span class="seperator">-</span><a href="#">VIDEOS</a></li>
		<li><span class="seperator">-</span><a href="#">FUNNY</a></li>
		<li><span class="seperator">-</span><a href="#">TODAYILEARNED</a></li>
		<li><span class="seperator">-</span><a href="#">PICS</a></li>
		<li><span class="seperator">-</span><a href="#">GAMING</a></li>
		<li><span class="seperator">-</span><a href="#">MOVIES</a></li>
		<li><span class="seperator">-</span><a href="#">NEWS</a></li>
		<li><span class="seperator">-</span><a href="#">GIFS</a></li>
		<li><span class="seperator">-</span><a href="#">MILDLYINTERESTING</a></li>
		<li><span class="seperator">-</span><a href="#">AWW</a></li>
		<li><span class="seperator">-</span><a href="#">SHOWERTHOUGHTS</a></li>
		<li><span class="seperator">-</span><a href="#">TELEVISION</a></li>
		<li><span class="seperator">-</span><a href="#">JOKES</a></li>
		<li><span class="seperator">-</span><a href="#">SCIENCE</a></li>
		<li><span class="seperator">-</span><a href="#">OLDSCHOOLCOOL</a></li>
		<li><span class="seperator">-</span><a href="#">SPORTS</a></li>
		<li><span class="seperator">-</span><a href="#">IAMA</a></li>
		<li><span class="seperator">-</span><a href="#">DOCUMENTAR</a></li>
		<li><a href="#" class="more_topBar">MORE >></a></li>
	</ul>

